.header{
    position: relative;
    margin: 30px auto;
}
.header-img{
    height: 33.5vw;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    left: 6vw;
    bottom: 10%;
    max-width: 50%;
    color: white;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    font-size: 1vw;
}
.header-contents button{
    font-weight: 500;
    border: none;
    padding: 1vw 2.3vw;
    font-size: max(1vw,13px);
    border-radius: 50px;
}