.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #49557e;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-cart-icon{
    position: relative;
}
.navbar-cart-icon .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right: -8px;
}
.navbar-right button{
    background: transparent;
    padding: 10px 30px;
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover{
    background-color: #fff4f2;
}